menu {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 2rem;
  overflow: auto;
  padding: 0;
}

@media (min-width: 640px) {
  menu {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  menu {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
