section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.search-button-menu {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

#browse-link {
  background-color: var(--color-txt-secondary);
  color: var(--color-bg-default);
  font-size: var(--font-size-default);
  margin: 0 auto;
  padding: 0.4rem 1rem;
  border: 2px solid var(--color-txt-secondary);
  border-radius: 0.45rem;
}

#browse-link:hover {
  filter: brightness(80%);
}

article {
  width: 100%;
}

figure,
figcaption,
p {
  margin: 0;
}

figure {
  width: 100%;
}

blockquote {
  margin: 0 0 1.5rem 0;
  font-size: var(--font-size-large);
  font-style: italic;
}

figcaption {
  text-align: right;
}

cite {
  font-style: normal;
}
