---
import BaseLayout from '@layouts/BaseLayout.astro';
import LinkCard from '@components/LinkCard.astro';
import Heading from '@components/Heading.astro';
import { getHighlightsWithQuery, getSources } from '@scripts/highlights/highlights-api-helper';
import { toKebabCase } from '@utils/string';

const sources = await getSources().then(sources =>
  sources.sort((a, b) => {
    if (a.title.toUpperCase() < b.title.toUpperCase()) {
      return -1;
    } else {
      return 1;
    }
  })
);
---

<BaseLayout title={'Highlights - Browse'}>
  <section>
    <Heading text="Highlights by Source" />
    <menu aria-label="List of Sources">
      {
        sources.map(async ({ id, title }) => {
          // TODO: This can be removed if authorId is added to the the sources.
          const highlights = await getHighlightsWithQuery(`source=${id}`);
          const author = highlights.at(0)!.author;
          return <LinkCard target={`/highlights/sources/${toKebabCase(title)}`} heading={author} title={title} />;
        })
      }
    </menu>
  </section>
</BaseLayout>

<style>
  menu {
    display: grid;
    gap: 2rem;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: 2rem;
    overflow: auto;
    padding: 0;
  }

  @media (min-width: 640px) {
    menu {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 768px) {
    menu {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
