---
import '@styles/highlights/index.css';
import BaseLayout from '@layouts/BaseLayout.astro';
import Button from '@components/Button.astro';
---

<BaseLayout title={'Highlights'}>
  <section>
    <menu class="search-button-menu">
      <Button text="Enlighten me, Boon" id="random-highlight-btn" />
      <a href="/highlights/browse" id="browse-link">Browse</a>
    </menu>
    <article></article>
  </section>
</BaseLayout>

<script src="@scripts/highlights/index.ts"></script>
