---
import '@styles/blog.css';
import { SITE_TITLE } from 'src/config';
import { getFinalizedPosts } from '@utils/blog';
import BaseLayout from '@layouts/BaseLayout.astro';
import FormattedDate from '@components/FormattedDate.astro';

export const getStaticPaths = async () => {
  const finalizedPosts = await getFinalizedPosts();

  return finalizedPosts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
};

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<BaseLayout title={`${post.data.title} | ${SITE_TITLE}`}>
  <section>
    <FormattedDate date={post.data.publishDate} />
    <h1>{post.data.title}</h1>
  </section>
  <article class="content">
    <Content />
  </article>
</BaseLayout>
