---
import '@styles/blog/posts.css';
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import FormattedDate from '@components/FormattedDate.astro';

export const getStaticPaths = async () => {
  const publishedPosts = await getCollection('blog', ({ data }) => data.isDraft === false);

  return publishedPosts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
};

const { post } = Astro.props;
const { title, publishDate } = post.data;
const { Content } = await post.render();
---

<BaseLayout title={title}>
  <section aria-labelledby="post-title">
    <FormattedDate date={publishDate} />
    <h1 id="post-title">{title}</h1>
  </section>
  <article class="content">
    <Content />
  </article>
</BaseLayout>
