---
import { SITE_TITLE } from 'src/config';
import { getFinalizedPosts } from '@utils/blog';
import BaseLayout from '@layouts/BaseLayout.astro';
import FormattedDate from '@components/FormattedDate.astro';

export const getStaticPaths = async () => {
  const finalizedPosts = await getFinalizedPosts();

  return finalizedPosts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} | ${SITE_TITLE}`}>
  <section>
    <FormattedDate date={post.data.publishDate} />
    <h1>{post.data.title}</h1>
  </section>
  <article>
    <Content />
  </article>
</BaseLayout>

<style>
  section {
    text-align: center;
  }

  h1 {
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-xx-large);
    line-height: var(--line-height-large);
    margin: 1rem 0 3.5rem;
  }
</style>
