:root {
  --color-bg-main: rgb(27, 39, 51);
  --color-box-border: rgba(236, 233, 230, 0.15);
  --color-txt-default: rgb(236, 233, 230);
  --color-txt-muted: rgba(236, 233, 230, 0.66);
  --font-size-small: 0.95rem;
  --font-size-default: 1.125rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.75rem;
  --font-size-xx-large: 2.5rem;
  --font-weight-default: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 800;
  --line-height-default: 1.55rem;
  --line-height-medium: 1.75rem;
  --line-height-large: 2.4rem;
}

a {
  text-decoration: none;
}
