:root {
  --color-bg-default: rgb(16 21 29);
  --color-bg-secondary: rgb(25 33 46);
  --color-box-border: rgba(46, 60, 81, 1);
  --color-txt-default: rgba(128, 140, 156, 1);
  --color-txt-secondary: rgb(191, 199, 210);
  --font-size-small: 0.95rem;
  --font-size-default: 1.125rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.75rem;
  --font-size-xx-large: 2.5rem;
  --font-weight-default: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 800;
  --line-height-default: 1.55rem;
  --line-height-medium: 1.75rem;
  --line-height-large: 2.4rem;
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--color-txt-secondary);
  color: var(--color-bg-default);
}
