---
import BaseLayout from '@layouts/BaseLayout.astro';
import Heading from '@components/Heading.astro';
---

<BaseLayout title={'Resources'}>
  <section>
    <div>
      <Heading text={'Parenting'} />
      <ul>
        <li>Our Approved Movie List</li>
        <li>Our Favorite Books for Infants & Toddlers</li>
        <li>Development Milestones for Children Under 5</li>
        <li>Books Every Father Should Read</li>
      </ul>
    </div>
    <div>
      <Heading text={'Homeschooling'} />
      <ul>
        <li>Development Milestones for Children Under 5</li>
      </ul>
    </div>
    <div>
      <Heading text={'Book Reports & Reviews'} />
      <ul>
        <li>Review: Family Shepherds by Voddie Baucham</li>
        <li>Our Favorite Books for Infants & Toddlers</li>
        <li>Development Milestones for Children Under 5</li>
        <li>Books Every Father Should Read</li>
        <li>Approved Movie List</li>
      </ul>
    </div>
  </section>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
  }
</style>
