---
import FormattedDate from '@components/FormattedDate.astro';
import Heading from '@components/Heading.astro';
import { truncate } from '@utils/string';

export interface Props {
  title: string;
  publishDate: Date;
  target: string;
  content: string;
}

const { title, publishDate, target, content } = Astro.props;
---

<a href={target} aria-label={`Blog post: ${title}`}>
  <article>
    <header>
      <FormattedDate date={publishDate} />
      <Heading text={title} />
    </header>
    <span role="dialog" aria-label="Content">{truncate(content, 300)}</span>
  </article>
</a>

<style>
  article {
    background-color: var(--color-bg-secondary);
    border-radius: 0.45rem;
    color: var(--color-txt-default);
    padding: 2rem;
  }

  article:hover {
    background-color: var(--color-box-border);
    color: var(--color-txt-secondary);
  }

  @media (min-width: 768px) {
    article {
      font-size: var(--font-size-large);
      line-height: var(--line-height-medium);
    }
  }
</style>
