---
import FormattedDate from '@components/FormattedDate.astro';
import Heading from '@components/Heading.astro';
import { truncate } from '@utils/string';

export interface Props {
  title: string;
  publishDate: Date;
  url: string;
  content: string;
}

const { title, publishDate, url, content } = Astro.props;
---

<a href={url} aria-label={`Blog post: ${title}`}>
  <article>
    <header>
      <FormattedDate date={publishDate} />
      <Heading text={title} />
    </header>
    <span role="dialog" aria-label="Content">{truncate(content, 300)}</span>
  </article>
</a>

<style>
  article {
    border: 1px solid var(--color-box-border);
    border-radius: 0.2rem;
    box-shadow: 5px 5px 7px rgb(21, 30, 38);
    color: var(--color-txt-default);
    padding: 2rem;
  }

  header {
    text-align: center;
  }

  @media (min-width: 768px) {
    article {
      font-size: var(--font-size-large);
      line-height: var(--line-height-medium);
    }
  }
</style>
