---
export interface Props {
  text: string;
  textCenter?: boolean;
}

const { text, textCenter = true } = Astro.props;
---

<h2 class:list={[{ 'text-center': textCenter }]}>{text}</h2>

<style>
  h2 {
    color: var(--color-txt-secondary);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bolder);
    line-height: var(--line-height-medium);
    margin-top: 0.25rem;
  }

  .text-center {
    text-align: center;
  }
</style>
