---

---

<header>
  <a href="/" aria-label="All posts from Joseph Risner">
    <img alt="Image of Joseph Risner" src="/images/profile-image.jpeg" width="50" height="50" />
    <br />
     JOSEPH RISNER
  </a>
</header>

<style>
  header {
    margin-bottom: 4rem;
    text-align: center;
  }

  img {
    border-radius: 999px;
  }

  a {
    color: var(--color-txt-default);
    letter-spacing: 0.15rem;
    margin: 0.25rem 0;
  }
</style>
