---
import NavLink from './NavLink.astro';
---

<nav id="primary-nav" data-visible="false">
  <ul id="nav-list">
    <NavLink text="Home" href="/" />
    <NavLink text="Blog" href="/blog" />
    <NavLink text="Resources" href="/resources" />
    <NavLink text="Highlights" href="/highlights" />
  </ul>
</nav>
<button aria-controls="nav-list" aria-expanded="false" id="mobile-nav-toggle">
  <span>Menu</span>
</button>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #mobile-nav-toggle {
    display: none;
  }

  /* TODO: Remove this once left-nav is implemented */
  #primary-nav {
    display: none;
  }

  @media (max-width: 900px) {
    #primary-nav {
      background: var(--color-bg-main);
      /* TODO: Remove this once left-nav is implemented */
      display: block;
      inset: 0 0 0 0;
      padding: min(20vh, 4rem) 2rem;
      position: fixed;
      transform: translateX(-100%);
      transition: transform 250ms ease-out;
      z-index: 100;
    }

    #primary-nav[data-visible='true'] {
      transform: translateX(0%);
    }

    #mobile-nav-toggle {
      align-items: center;
      background: var(--color-bg-main);
      border: 0;
      bottom: 0;
      display: flex;
      height: 3rem;
      justify-content: center;
      position: fixed;
      width: 100%;
      z-index: 999;
      & span {
        align-items: center;
        color: var(--color-txt-default);
        display: flex;
        font-size: 1.4rem;
      }
      & span:after {
        background-image: url('/icons/nav-open.svg');
        background-size: 2rem 2rem;
        content: '';
        display: inline-block;
        height: 2rem;
        width: 2rem;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
      }
    }

    #mobile-nav-toggle[aria-expanded='true'] {
      & span:after {
        background-image: url('/icons/nav-closed.svg');
      }
    }
  }
</style>

<script>
  const expandNavPanel = () => {
    const navPanel = document.getElementById('primary-nav');
    const navToggle = document.getElementById('mobile-nav-toggle');

    navToggle?.addEventListener('click', () => {
      const isNavExpanded = navPanel?.getAttribute('data-visible');

      if (isNavExpanded === 'false') {
        navPanel?.setAttribute('data-visible', 'true');
        navToggle?.setAttribute('aria-expanded', 'true');
      } else {
        navPanel?.setAttribute('data-visible', 'false');
        navToggle?.setAttribute('aria-expanded', 'false');
      }
    });
  };

  expandNavPanel();
</script>
