---
export interface Props {
  href: string;
  text: string;
}

const { href, text, ...rest } = Astro.props;
---

<li><a href={href} {...rest}>{text}</a></li>

<style>
  a {
    color: var(--color-txt-secondary);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }

  a:hover {
    filter: brightness(80%);
  }

  @media (max-width: 1024px) {
    a {
      font-size: var(--font-size-x-large);
    }
  }
</style>
